@media(max-width: 720px){
    body{
        display:flex;
        flex-direction: column;
    }
    
    .container {
        flex-direction: column;
        align-items: center;        
    }

    .logo-nome h1{
        font-size: 40px;  
    }

    .logo-nome{
        margin: 50px 0px;

    }

    .nome{
        margin: 40px 10px
    }

    .opcoes, ul{
        flex-direction: column;
        align-items: center;
    }
}