@media(max-width: 720px){
    body{
        display:flex;
        flex-direction: column;
    }
    
    .container {
        flex-direction: column;
        align-items: center;        
    }

    .logo-nome h1{
        font-size: 40px;  
    }

    .logo-nome{
        margin: 0px

    }

    .nome{
        margin: 40px 10px
    }

    .opcoes, ul{
        flex-direction: column;
        align-items: center;
    }

    ul li{
        margin: 30px;
    }


    button{
        margin: 50px 45px 50px 45px;
        width: 127px;
        height: 39px;
        background-color: #5BC241;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        font-weight: 300;
        font-family: 15px;
       
    }
}